@import 'compass';

// custom CSS
.clear {
	clear: both;
}
.scientific_name {
	font-style: italic;
}
#index li {
	list-style-type: disc;
}
// remove padding around panel menu
#menuPanel .ui-panel-inner {
   padding: 0
}

// MOORE+DATABASE banner
// media queries adjust some properties
#header_container {
	vertical-align: middle;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding: 0;
  #header_text {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    letter-spacing: -1px;
    #header_span {
      background-color: #FFF;
      #header_first_word {
        color: #222;
      }
      #header_plus {
        color: #F60;
      }
      #header_second_word {
        color: #777;
      }     
    }  
  }
}
.logo {
	display: block;
	margin: 0 auto;
	height: 50px;
}
.logo75 {
  @extend .logo;
  height: 75px;
}
.loader {
	display: block;
	margin: 0 auto;
	padding: 100px 0 100px 0;
	height: 50px;
}
.hidden {
	display: none;
}
figure {
	margin: 0;
	padding: 0;
}

.map_canvas, #myCanvas, #myHome {
	display: block;
	margin: 0 auto;
	padding: 0;
}
@media all and (min-width: 0px) and (max-width: 280px) {
	#map_canvas, #myCanvas {
		width: 240px;
		height: 240px;
	}
}
@media all and (min-width: 281px) and (max-width: 480px) {
	#map_canvas, #myCanvas {
		width: 280px;
		height: 280px;
	}
	#header_container #header_text {
		font-size: 1.6em;
		letter-spacing: -2px;
	}
}
@media all and (min-width: 481px) and (max-width: 768px) {
	#map_canvas, #myCanvas {
		width: 480px;
		height: 480px;
	}
	#header_container #header_text {
		font-size: 2.5em;
		letter-spacing: -3px;
	}
}
@media all and (min-width: 769px) {
	#map_canvas, #myCanvas {
		width: 768px;
		height: 768px;
	}
	#header_container #header_text {
		font-size: 3.5em;
		letter-spacing: -4px;
	}
}

// photoswipe styling 
.gallery {
	list-style: none;
	padding: 0;
	margin: 0;
  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
  li {
    float: left;
    width: 33.33333333%;
    a {
      display: block;
      margin: 5px;
      border: 1px solid #3c3c3c;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    } 
  }
}
// HTML5 support list 
.featureMethod {
	margin-bottom: .25em;
}

// Flickr photo feed pages 
#flickrsets div.ui-content,
#flickrsetsZend div.ui-content {
	padding: 5px;
}

// JSON / Zend image galleries
#photolist {
  img {
  	width: 100px;
  	@include border-radius(5px);
  }
  .ui-block-a, 
  .ui-block-b, 
  .ui-block-c {
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 2px; // controls spacing between pics 
  }  
  &.ui-grid-c {
    width: 312px;
    padding: 0;
    margin: 0 auto;
  }  
}

#myphoto {
  img {
  	display: block;
  	margin: 0 auto;
  	max-width: 1024px;
  	width: 100%;
  }
 .ui-content {
    width: 100%;
    padding: 0;
  }  
}


// video list, blog posts, and tweet lists
#videolist .ui-listview li, #postlist .ui-listview li, #tweetlist .ui-listview li {
	background: #FFF;
	color: #000;
	font-weight: normal;
	border-top: 1px solid #555;
	text-shadow: none;
}

#videolist .ui-listview a, #postlist .ui-listview a, #tweetlist .ui-listview a {
	color: #000;
	font-weight: normal;
	text-shadow: none;
}

#videolist img {
	margin: 10px 0 0 10px;
}

// tweet list
#tweetlist .ui-listview img {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 10px 0 0 25px;
}

// jQuery overrides
.ui-dialog .ui-content {
	padding: 10px;
}

.ui-content .ui-listview-inset {
	margin: .2em 0;
}

.ui-collapsible-set {
	margin: 0;
}

// reduce padding around content
#index .ui-content {
  padding: 0.5em;
}
// restore padding in menu
#menuPanel .ui-content {
  padding: 1em;
}
// for div containing amCharts graphs
.chartdiv {
   background-color: #FFF;   
   text-shadow: none;
   border-radius: 0.6em; 
   margin: 0.5em;
}